body {
    background-color: #fff;
    color: #000;
}

.card img {
    border: 1px solid black;
    object-fit: cover;
}

#bookDetailsCard {
    background-color: #cde5f3;
}

#innerBookDetails {
    margin: 20px;
}

.read-status-icon {
    font-size: 2rem;
    color: #38597a;
    opacity: 0.8;
    border-radius: 50%;
}

.modal-custom-size {
    max-width: 66.67%;
}

.filterButtonSection {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#applyFilters {
    background-color: #6b98db;
}

#writeReview {
    background: linear-gradient(45deg, #007bff, #0056b3);
    /* Gradient for primary button */
    color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

#writeReview:hover {
    background: linear-gradient(45deg, #0056b3, #003f87);
    /* Darker gradient on hover */
    transform: scale(1.05);
    /* Slightly enlarge on hover */
}

#displayReviews {
    border: 2px solid #007bff;
    /* Blue outline */
    color: #007bff;
    background: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

#displayReviews:hover {
    background: #e9f4ff;
    /* Light blue background on hover */
    color: #0056b3;
    transform: scale(1.05);
    /* Slightly enlarge on hover */
}

.modal-header {
    background: linear-gradient(45deg, #6b98db, #d3e8e9);
    /* Gradient header */
    color: white;
}

.modal-footer {
    background: #d3e8e9;
    /* Gradient header */
    color: white;
}

.modal-header .modal-title {
    font-weight: bold;
}

#reviewForm .form-label {
    font-size: 1.1rem;
}

#reviewForm .form-control {
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

#reviewForm .form-control:focus {
    border-color: #0056b3;
    box-shadow: 0px 0px 8px rgba(0, 91, 187, 0.6);
}

#reviewForm .input-group-text {
    border: none !important;
    background: transparent !important;
    padding: 0 !important;
    margin-right: 10px;
}
  
#reviewForm button[type="submit"] {
    background: #6b98db;
    border: none;
    color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

#reviewForm button[type="submit"]:hover {
    transform: scale(1.05);
}

#reviewForm .invalid-feedback {
    font-size: 0.9rem;
    color: #d9534f;
}

#errorMessage {
    font-size: 1rem;
    font-weight: bold;
}