# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy Node.js app to Azure Web App - cicd-app

on:
  push:
    branches:
      - main
      - test-case-features-AungPP
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read #This is required for actions/checkout
    environment: production

    steps:
      - uses: actions/checkout@v4

      - name: Set up Node.js version
        uses: actions/setup-node@v3
        with:
          node-version: '20.x'
          
      - name: npm install, build, and test
        run: |
          npm install
          npx playwright install                                              
          npm run build --if-present

      - name: npm run test
        env:
          DATABASE_URL: ${{vars.DATABASE_URL}}
          JWT_SECRET_KEY: ${{vars.JWT_SECRET_KEY}}
          JWT_EXPIRES_IN: ${{vars.JWT_EXPIRES_IN}}
          JWT_ALGORITHM: ${{vars.JWT_ALGORITHM}}
          PORT: ${{vars.PORT}}
        run: npm run test --if-present

      # Upload Playwright traces if any test fails
      - name: Upload Playwright Traces
        if: failure() # Upload only if tests fail
        uses: actions/upload-artifact@v4
        with:
          name: playwright-traces
          path: test-results/
          retention-days: 7

      - name: Zip artifact for deployment
        run: zip release.zip ./* -r

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: node-app
          path: release.zip

  deploy:
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: 'Production'
      url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}
    permissions:
      id-token: write #This is required for requesting the JWT
      contents: read #This is required for actions/checkout

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: node-app

      - name: Unzip artifact for deployment
        run: unzip release.zip
      
      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_30E65F1BC28145B4A5381857F591BE48 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_9D559527F6D64C71AC19D807779C0809 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_D992153BEB384A128B6E1C4363BE2C43 }}

      - name: 'Deploy to Azure Web App'
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'cicd-app'
          slot-name: 'Production'
          package: .
          
